<head>
    <link rel="stylesheet" href="app.css" type="text/css" />
    <script  src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.js"></script>
</head>

<body>
   <header>
    <h1>daily<span>JOURNAL</span></h1>
    <h2>A Simple App To Manage Your Day To Day Activities</h2>
  </header>
  
  <section class="form">
    <input type="text" id="todoInput" placeholder="Enter your tasks here..">
  </section>

  <ul class="list">
  </ul>
  
  
  <script type="text/javascript" src="app.js"></script>
</body>